<a href="https://colab.research.google.com/github/Mars096/ISYS5002_Assignmemnt/blob/main/Sandbox_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment Ideas

The process of problem solving we will use can be broken down into 5 key steps:

1. State the problem clearly
2. Describe the input and output information
3. Work the problem by hand
4. Develop an algorithm (and convert to python)
5. Test solution with a variety of data

Program, Inputs, Processing and Outputs

#Inputs
*Input a ticker symbol. Not sure what the ticker symbol is?
Note: To prompt the user, I guess I will need to use the input() function
**Find out what a ticker symbol is**

### Ticker Symbol 
A stock symbol is a unique series of letters assigned to a security for trading purposes. which is from: https://www.investopedia.com/terms/s/stocksymbol.asp

#Processing
*Scrape the Yahoo Website
*Extract the 'Key Executivies'
*Calculate income tax

Note: In a previous Notebook, we calculate the tax based on ATO table. Might be use in this assignment.

**TODO: Find Yahoo Website**

Here is the webpage: https://au.finance.yahoo.com/

Note: there is a search bar where I can find a company
**TODO: Find the Key executivies**

#Outputs
*Save to CSV files
*Save to SQL database

**Work out what I have to save!!!**


#Let Explore The Website

1. Search for Coles


Best guess. Coles tickers is COL.AX
Note the '.AX' means Australian

Just read the assignment task again ,it can be any company

Find the Key Executivies in the profile page.

Here is the URL for Coles: 
https://au.finance.yahoo.com/quote/COL.AX/profile?p=COL.AX&.tsrc=fin-srch

2. Let's search for National Australia Bank

The ticker is NAB.AX. Here is the URL profile webpage for NAB
https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

Well, the interesting thing is there appears a pattern with the URL. I can see that the ticker twice in the URL.

Manual processing is:

1. Search for Ticker
2. Click on Profile

**TODO: Can I shortcut the processing and just use the URL**

Look like I can edit the URL and replace the ticker. Seem like only the first ticker symbol is impotant, but for safe reason I will replace the both.

#Let's manual conculate the income tax

Here is the table of Key Execusivies,copy_n_paste from:

https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

~~~
Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	N/A	1957
Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA	Group Chief Financial Officer	1.13M	N/A	N/A
Mr. Patrick F. Wright	Group Exec. of Technology & Enterprise Operations	1.72M	N/A	1967
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k	N/A	N/A
Ms. Susan Ferrier	Group Exec. of People & Culture	929.27k	N/A	N/A
Ms. Angela Mentis B.Bus	Group Chief Digital, Data & Analytics Officer	1.62M	N/A	N/A
Mr. Shaun Dooley	Chief Risk Officer	1.05M	N/A	N/A
Mr. Andrew Irvine	Chief Exec. of Bus. Private Banking Division	333.27k	N/A	N/A
Mr. Lesile D. Matheson	Group Chief Operating Officer	N/A	N/A	1960
Ms. Sally Mihell	Head of Investor Relations	N/A	N/A	N/A
~~~


Need to calculate the income tax
*Need to know their Pay!

Well

First column is the name
The secong column is the title
The third column is their pay

**TODO: How to get the third column**

Lets consider one row.
Note: The lecturer said, only need name, title, and pay*

~~~
Mr. Ross Maxwell McEwan CBE, B.B.S.	Group CEO, MD & Director	2.54M	
~~~

So the third column is pay, and for this row, that's '2.5M'
I will assume 'M' means Millions, so there pay if '2.5'*1000000

In [1]:
2.5*1000000

2500000.0

Inspact the table,again for another row(looking for differences)
~~~
Ms. Sharon J. Cook	Group Exec. of Legal & Commercial Services	912.98k	
~~~

Well, Notice the pay is '912.98k'


Assume that 'k' means 1000, so their pay is '912.98'*1000

In [2]:
912.98*1000

912980.0

Lets check to see if any other row is different
```
Mr. Lesile D. Matheson	Group Chief Operating Officer	N/A	
```

Umm...what to do about N/A

**TODO: Work out how to process N/A**
Well thats seems to be all the different types of rows, or different type of pay.

Lets calculate the income tax. Lets look at the tax notebook. Here is the function from the tax notebook:
```
def calculate_tax(income):
  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000:
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120000 < income < 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
  elif 180000 < income:
    tax_payable = 51667 + 0.45 * (income - 180000)

  return tax_payable
```

I happy that works, because I tested it ealier.
income_tax= calculate_tax(pay)

# Initial Algorithm

1. User input ticker symbol
2. Use ticker to get profile page
3. Copied the table
4. For each row of the table
5. Process a row to extract pay
6. Find the last character to determin mutiplier
7. Calculate salary, pay*multiplier
8. Calculate the income tax

Note:
1. Need to validate the ticker,but for now I will assume the user type in a correct ticker
2. Still need to work out where I save the income tax

In [14]:
# Usually run of Google Coolab, so install unique packages
!pip install kora -q

#load packages
from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd

     |████████████████████████████████| 57 kB 2.8 MB/s
     |████████████████████████████████| 56 kB 4.5 MB/s

In [12]:
def make_url():
  #Step1: User input ticker symbol
  ticker_symbol= input("Please input ticker symbol")
  #print(ticker_symbol)
  example_url= 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
  result = example_url.format(ticker_symbol, ticker_symbol)
  return result

In [ ]:
# Get URL
url= make_url()
wd.get(url)
soup= BeautifulSoup(wd.page_source,"html.pareer")

In [28]:
table = soup.find('table')
body = table.find('tbody')
rows = body.find_all('tr')

#For Now process one row
#Work out how to do all rows later
row = rows[0]

cells = row.find_all('td')
name = cells[0].text
title = cells[1].text
pay = cells[2].text
print(pay)

2.54M

In [41]:
def get_first_3_cells(row):
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name':name, 'title':title, 'pay':pay}

In [43]:
get_first_3_cells(rows[0])

{'name': 'Mr. Ross Maxwell McEwan CBE, B.B.S.',
 'pay': '2.54M',
 'title': 'Group CEO, MD & Director'}

In [45]:
exec_records = []
for row in rows:
  result = get_first_3_cells(row)
  exec_records.append(result)

print(exec_records)

[{'name': 'Mr. Ross Maxwell McEwan CBE, B.B.S.', 'title': 'Group CEO, MD & Director', 'pay': '2.54M'}, {'name': 'Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA', 'title': 'Group Chief Financial Officer', 'pay': '1.13M'}, {'name': 'Mr. Patrick F. Wright', 'title': 'Group Exec. of Technology & Enterprise Operations', 'pay': '1.72M'}, {'name': 'Ms. Sharon J. Cook', 'title': 'Group Exec. of Legal & Commercial Services', 'pay': '912.98k'}, {'name': 'Ms. Susan  Ferrier', 'title': 'Group Exec. of People & Culture', 'pay': '929.27k'}, {'name': 'Ms. Angela  Mentis B.Bus', 'title': 'Group Chief Digital, Data & Analytics Officer', 'pay': '1.62M'}, {'name': 'Mr. Shaun  Dooley', 'title': 'Chief Risk Officer', 'pay': '1.05M'}, {'name': 'Mr. Andrew  Irvine', 'title': 'Chief Exec. of Bus. Private Banking Division', 'pay': '333.27k'}, {'name': 'Mr. Lesile D. Matheson', 'title': 'Group Chief Operating Officer', 'pay': 'N/A'}, {'name': 'Ms. Sally  Mihell', 'title': 'Head of Investor Relations', 'pay': 'N/A'}]

In [47]:
def get_exec_records(soup):
  exec_records=[]
  for row in rows:
    result = get_first_3_cells(row)
    exec_records.append(result)
  return exec_records

In [49]:
get_exec_records()

[{'name': 'Mr. Ross Maxwell McEwan CBE, B.B.S.',
  'pay': '2.54M',
  'title': 'Group CEO, MD & Director'},
 {'name': 'Mr. Gary Andrew Lennon BEC, F.C.A., BEc (Hons), FCA',
  'pay': '1.13M',
  'title': 'Group Chief Financial Officer'},
 {'name': 'Mr. Patrick F. Wright',
  'pay': '1.72M',
  'title': 'Group Exec. of Technology & Enterprise Operations'},
 {'name': 'Ms. Sharon J. Cook',
  'pay': '912.98k',
  'title': 'Group Exec. of Legal & Commercial Services'},
 {'name': 'Ms. Susan  Ferrier',
  'pay': '929.27k',
  'title': 'Group Exec. of People & Culture'},
 {'name': 'Ms. Angela  Mentis B.Bus',
  'pay': '1.62M',
  'title': 'Group Chief Digital, Data & Analytics Officer'},
 {'name': 'Mr. Shaun  Dooley', 'pay': '1.05M', 'title': 'Chief Risk Officer'},
 {'name': 'Mr. Andrew  Irvine',
  'pay': '333.27k',
  'title': 'Chief Exec. of Bus. Private Banking Division'},
 {'name': 'Mr. Lesile D. Matheson',
  'pay': 'N/A',
  'title': 'Group Chief Operating Officer'},
 {'name': 'Ms. Sally  Mihell',
  'pay': 'N/A',
  'title': 'Head of Investor Relations'}]