<a href="https://colab.research.google.com/github/Mars096/ISYS5002_Assignmemnt/blob/main/Sandbox_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment

###By Mars Chen 20628055

**In order to accomplish this task, my design for achieving this programming result is: 1. Know keywords (such as what is ticker symbol) 2. Build website url based on Yahoo Finance website. 3. Find the file page and the form 4 about administrative staff. Copy the table and grab the data of each row in the table. 5. Normalize the data, convert "M" into millions and "k" into thousands, and grab everyone's salary. 6. Establish a tax algorithm, use the algorithm to calculate the amount of tax payable, and add the column "tax" to the original table**

# Initial Algorithm

1. User input ticker symbol
2. Use ticker to get profile page
3. Copied the table
4. For each row of the table
5. Process a row to extract pay
6. Find the last character to determin mutiplier
7. Calculate salary, pay*multiplier
8. Calculate the income tax

Note:
1. Need to validate the ticker,but for now I will assume the user type in a correct ticker
2. Still need to work out where I save the income tax

In [3]:
# Usually run of Google Coolab, so install unique packages
!pip install kora -q

#load packages
from bs4 import BeautifulSoup
from kora.selenium import wd
import pandas as pd

**Enter the existing website crawling algorithm and data input algorithm to serve the next steps**

In [4]:
def make_url():
  #Step1: User input ticker symbol
  ticker_symbol= input("Please input ticker symbol")
  #print(ticker_symbol)
  example_url= 'https://au.finance.yahoo.com/quote/{}/profile?p={}'
  result = example_url.format(ticker_symbol, ticker_symbol)
  return result

**Create a URL, enter "ticker symbol" to find the corresponding company's Yahoo Finance website, and get the results of the website. You can manually test to see if the URL is created correctly.**

In [5]:
def get_first_3_cells(row):
  cells = row.find_all('td')
  name = cells[0].text
  title = cells[1].text
  pay = cells[2].text
  return {'name':name, 'title':title, 'pay':pay}

**This function creates tables and names the value represented by each table**

In [8]:
def get_exec_records(soup):
  table = soup.find('table')
  body = table.find('tbody')
  rows = body.find_all('tr')

  exec_records=[]
  for row in rows:
    result = get_first_3_cells(row)
    exec_records.append(result)
  return exec_records

**To capture website data through soup, the specific method is to find the code about the table in the design code of the original website, and name it as the representation item (tbody, tr, etc.) in the source code**

In [ ]:
def get_salary(rec)
  pay = rec['pay']
  last_char = pay[-1]
  num_part = pay[0:-1]
  if last_char == 'M':
    salary = float(num_part)*1000000
  elif last_char == 'k':
    salary = float(num_part)*1000
  else:
    salary = 0
  return salary

**The expression of salary in the original form has become normalized, because there are simplified expressions of "M" and "K" in the original wages, and standardizing them into Arabic numerals is more intuitive and conducive to tax calculations**

In [ ]:
def calculate_tax(income):

  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000:
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income < 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120000 < income < 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
  elif 180000 < income:
    tax_payable = 51667 + 0.45 * (income - 180000)

  return tax_payable

**For the calculation of tax, it calculates how much tax each person should pay for his salary**

In [ ]:
# Get URL
url= make_url()
wd.get(url)
soup = BeautifulSoup(wd.page_source,"html.parser")
get_exec_records(soup)

for r in records:
  result = get_salary(record)
  income_tax = calculate_tax(result)
  record['tax']=income_tax

#create a pandas dataframe(because recall in a earlier notebook a data frame is easy to save as csv)
execs_df = pd.dataframe.from_records(records)
execs_df


**Here I encountered a problem that get_exec_records(soup) has AttributeError:'NoneType' object has no attribute'find', but I don't know how to fix this error, thanks, Michael**